<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Starlight</title>
    <style type="text/css" >
        body {
            background-image: url(../picture/3.jpg);
            background-size: cover;
        }
        #apDiv4 {
            position:absolute;
            width:801px;
            height:324px;
            left: 122px;
            top: 127px;
        }
        #apDiv1 {
            position: absolute;
            width: 181px;
            left: 122px;
            top: 65px;
        }
        #apDiv5 {
            position:absolute;
            width:802px;
            height:300px;
            left:300px;
            top: 0px;
        }
    </style>
</head>
<body>
<div><a style="font-size:25px;" href="../riji.html">日记</a></div>
<div id="apDiv5"style="color:#0000CD;font-size:15px;font-family:"黑体";">
<h1>这样的女人，最好命。</h1>
<p>摘自微信某公众号</p>
<p>&nbsp;&nbsp;你说，你心目中对象应该是有自己的想法，坚持做自己想做的事。你说，我可能还需要时间成长吧。当时我还不懂，但看了这篇文章，我发现我确实还需要成长。你也说，你也正在成长。相信我们曾暗示彼此的约定。</p>
<table>
    <tr><td>&nbsp;&nbsp;&nbsp; </td>                  <td>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td> </tr>
    <tr><th style="color:#ff3333;">&nbsp;&nbsp;&nbsp;处事温柔淡定，内心强大自足。</th>                  <td>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td> </tr>
    <tr><td>&nbsp;&nbsp;&nbsp; </td>                  <td>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td> </tr>
    <tr><td>&nbsp;&nbsp;&nbsp;看起来文静柔弱的表姐，做起事来绝不含糊。</td>          <td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td> </tr>
    <tr><td>&nbsp;&nbsp;&nbsp; </td>                  <td>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td> </tr>
    <tr><th style="color:#ff3333;">&nbsp;&nbsp;&nbsp;她要强，自小就规划好了人生。</th>            <td>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td> </tr>
    <tr><td>&nbsp;&nbsp;&nbsp;一步一步严格执行，直到达到自己想要的目标。</td>                  <td>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td> </tr>
    <tr><td>&nbsp;&nbsp;&nbsp; </td>                  <td>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td> </tr>
    <tr><th style="color:#ff3333;">&nbsp;&nbsp;&nbsp;她独立，有自己的生活圈交际圈，就算一个人也能活得风生水起。</th>          <td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td> </tr>
    <tr><td>&nbsp;&nbsp;&nbsp;和表姐夫结婚十几年来，一直恩爱有加，工作上的成就不亚于表姐夫，生活中的爱好也多种多样。    </td>                                    <td>   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td> </tr>
    <tr><td>&nbsp;&nbsp;&nbsp; </td>                  <td>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td> </tr>
    <tr><th style="color:#ff3333;">&nbsp;&nbsp;&nbsp;她理性，分得清大事小事、轻重缓急。   </th>                                     <td>   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td> </tr>
    <tr><td>&nbsp;&nbsp;&nbsp;表姐曾告诉我，女孩子的一生要好好把握，不要在情爱上浪费太多大好时光，要有自己的人生理想，要爱对人，不要纠结在让自己痛苦的事情中，要始终阳光快乐。   </td>                          <td>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td> </tr>
    <tr><td>&nbsp;&nbsp;&nbsp; </td>                  <td>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td> </tr>
    <tr><td>&nbsp;&nbsp;&nbsp;后来，等我慢慢长大，才逐渐开始明白表姐告诫我的这番话，有着多么深刻的意义。</td>       <td>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td> </tr>
    <tr><td>&nbsp;&nbsp;&nbsp;</td>  <td>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td> </tr>
    <tr><th style="color:#000000;">&nbsp;&nbsp;&nbsp;其实，女性和男性一样，我们生而为人最重要的使命，是完善和成全自己。</th>                  <td>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td> </tr>
    <tr><th>&nbsp;&nbsp;&nbsp; </th>                  <td>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td> </tr>
    <tr><th style="color:#000000;">&nbsp;&nbsp;&nbsp;你不快乐，周围人也不会快乐；你压抑自己的需求为了满足别人，到最后才发现你的付出，在他们眼中，反而是份沉重的负担。  </th>                     <td>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td> </tr>
    <tr><th>&nbsp;&nbsp;&nbsp;     </th>          <td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td> </tr>
    <tr><th style="color:#000000;">&nbsp;&nbsp;&nbsp;为自己而活不是自私，也不是不负责，相反，这才是美好人生的打开方式。</th>                  <td>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td> </tr>
    <tr><th>&nbsp;&nbsp;&nbsp;     </th>          <td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td> </tr>
    <tr><th style="color:#000000;">&nbsp;&nbsp;&nbsp;当你不断充实自己、完善自己、让自己变得强大而快乐，那些人生路上出现的磕磕绊绊，才能成为一种甜蜜的负担，你才能心甘情愿地迎面而上，像打怪升级一样带来无限的满足感。</th>
    <tr><td>&nbsp;&nbsp;&nbsp;     </td>          <td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td> </tr><td>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td> </tr>
    <tr><th style="color:#0000CD;">&nbsp;&nbsp;&nbsp;看到一句话说过：女人过了三十岁，优雅的气质是唯一不会褪色的美。</th>                      <td></td> </tr>
    <tr><td>&nbsp;&nbsp;&nbsp;     </td>          <td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td> </tr>
    <tr><td>&nbsp;&nbsp;&nbsp;而这样的气质，多半只有在实现了自己的人生目标，灵魂丰盈充实的人身上，才能见到。  </td>          <td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td> </tr>
    <tr><td>&nbsp;&nbsp;&nbsp;     </td>          <td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td> </tr>
    <tr><th style="color:#ff3333;">&nbsp;&nbsp;&nbsp;我有一句用了很多年的座右铭：因内心强大而生出一种体恤式的温柔。</th>            <td style="color:#ff3333;"> </td> </tr>
    <tr><td>&nbsp;&nbsp;&nbsp;     </td>          <td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td> </tr>
    <tr><td >&nbsp;&nbsp;&nbsp;第一次看见这句话，我就觉得它是我心中理想女性的范本。</td>
    <tr><td>&nbsp;&nbsp;&nbsp;     </td>          <td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td> </tr><td>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td> </tr>
    <tr><th style="color:#000000;">&nbsp;&nbsp;&nbsp;一个女人，最好外表娴静，让人如沐春风，不矫揉造作，不阴沉燥郁；而与之相反，她的内心要强大果决，有临危而不乱、遇事而不慌的镇定自若。</th>                      <td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td> </tr>
    <tr><td>&nbsp;&nbsp;&nbsp;     </td>          <td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td> </tr>
    <tr><th style="color:#000000;">&nbsp;&nbsp;&nbsp;她既有使得远方赋予的柔情似水，又有俗世日常洗练过后的通透豁达。  </th>          <td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td> </tr>
    <tr><td>&nbsp;&nbsp;&nbsp;     </td>          <td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td> </tr>
    <tr><td>&nbsp;&nbsp;&nbsp;这样的女人，我很少遇到，但我会提醒自己，朝着这样的方向，努力靠近。</td>            <td>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td> </tr>
    <tr><td>&nbsp;&nbsp;&nbsp;     </td>          <td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td> </tr>
    <div id="apDiv4">
        <table width="800" height="138" border="0">
            <tr>
                <td width="20" height="24">&nbsp;</td>
                <td width="704">&nbsp;</td>
                <td width="62">&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><p class="STYLE2">歌曲名字：豆浆油条 </p>
                    <embed src="../music/林俊杰 - 豆浆油条.mp3" width="350" height="60"></embed>

            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </table>
</table>
</div>
</body>
</html>