<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>日记3</title>
    <style type="text/css" >
        body {
            background-image: url(../picture/3.jpg);
            background-size: cover;
        }
        #apDiv5 {
            position:absolute;
            width:802px;
            height:300px;
            left:300px;
            top: 300px;
        }
    </style>
</head>
<body>
<div><a style="font-size:25px;" href="../riji.html">日记</a></div>
<div id="apDiv5"style="color:#00aaaa;font-size:15px;font-family:"黑体";">
一个人真正的成熟是，终于抛弃掉了别人眼中最糟糕的样子，开始棱角分明的活着。<br/>
如果一个人所有人都能靠近，那么就没有真正的朋友。我不可能和所有人都嬉皮笑脸，就像我不可能对所有人都冷若冰霜。<br/>
我们太贪心太在意所有人的眼光，于是忘记了生而为人，也该知道谁是知心人，而谁是泛泛之交。<br/>
聪明的人，有一个特点，就是冷热分明。<br/>
我的时间宝贵，要浪费在喜欢的人身上才是。<br/>
不好惹不是教养，而是泾渭分明又彬彬有礼。<br/>
删繁就简和去粗取细是友情中的最高段位。而你终将知道，棱角分明的人，永远自带光环，光环之下，就是你最好朋友的五湖环绕。<br/>
</body>
</html>