<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>你所爱的世界</title>
    <style type="text/css" >
        body {
            background-image: url(../picture/3.jpg);
            background-size: cover;
        }
        #apDiv5 {
            position:absolute;
            width:802px;
            height:300px;
            left:300px;
            top: 0px;
        }
    </style>
</head>
<body>
<div><a style="font-size:25px;" href="../riji.html">日记</a></div>
<div id="apDiv5"style="color:#3366cc;font-size:15px;font-family:"黑体";">
  <h1>你所爱的世界</h1>
<p>拼接了一首日语歌的歌词，用以表现近期的生活态度，以下！</p>
    <table>
        <tr><td>&nbsp;&nbsp;&nbsp;2个人深爱的世界</td>                  <td>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td> </tr>
        <tr><td>&nbsp;&nbsp;&nbsp;所以才能迈向更远的前方</td>            <td>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td> </tr>
        <tr><td>&nbsp;&nbsp;&nbsp; </td>                  <td>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td> </tr>
        <tr><td>&nbsp;&nbsp;&nbsp;其他的任何人都不可能是你是我</td>          <td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td> </tr>
        <tr><td>&nbsp;&nbsp;&nbsp;丢失的光辉必须有我们亲自取回    </td>                                    <td>   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td> </tr>
        <tr><td>&nbsp;&nbsp;&nbsp; </td>                  <td>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td> </tr>
        <tr><td>&nbsp;&nbsp;&nbsp;抬起俯首的面容   </td>                                     <td>   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td> </tr>
        <tr><td>&nbsp;&nbsp;&nbsp;想要试着去相信   </td>                          <td>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td> </tr>
        <tr><td>&nbsp;&nbsp;&nbsp;拥抱所有的不安       </td>                         <td>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td> </tr>
        <tr><td>&nbsp;&nbsp;&nbsp;没有任何绝对确定的事</td>       <td>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td> </tr>
        <tr><td>&nbsp;&nbsp;&nbsp;即便如此</td>  <td>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td> </tr>
        <tr><td>&nbsp;&nbsp;&nbsp; </td>                  <td>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td> </tr>
        <tr><td>&nbsp;&nbsp;&nbsp;我不是1个人</td>        <td>   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td> </tr>
        <tr><td>&nbsp;&nbsp;&nbsp;那天崩坏的我     睁开了双眼  </td>                     <td>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;谢谢你   爱着你</td> </tr>
        <tr><td>&nbsp;&nbsp;&nbsp;因为有你在我身旁     </td>          <td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;拥有你的爱就是</td> </tr>
        <tr><td>&nbsp;&nbsp;&nbsp;此刻  琥珀色的天空   “正做着美梦” </td>                  <td>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;这个世界的"回答"</td> </tr>
        <tr><td>&nbsp;&nbsp;&nbsp;</td>            <td>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td> </tr>
        <tr><td>&nbsp;&nbsp;&nbsp;来自未来的香气扑鼻而来</td>                      <td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2个人邂逅的 世界</td> </tr>
        <tr><td>&nbsp;&nbsp;&nbsp;绵绵不绝的雨     </td>          <td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;直至谎言化作真实的那天 </td> </tr>
        <tr><td>&nbsp;&nbsp;&nbsp;依旧带来悲伤的昨天</td>            <td>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;拥抱着梦想生活就足够</td> </tr>
        <tr><td>&nbsp;&nbsp;&nbsp; </td>                  <td>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td> </tr>
        <tr><td>&nbsp;&nbsp;&nbsp;可是只要想到明天</td>            <td>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;为收获幸福</td> </tr>
        <tr><td>&nbsp;&nbsp;&nbsp;我便充满前行的勇气</td>            <td>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;你和我  都真切地生活在此地</td> </tr>
        <tr><td>&nbsp;&nbsp;&nbsp;因孤独而颤抖的时光也是  </td>                                    <td>   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;只要想到明天</td> </tr>
        <tr><td>&nbsp;&nbsp;&nbsp;我活在当下的证明  </td>                                     <td>   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我便充满前行的勇气</td> </tr>


    </table>
</div>
</body>
</html>